body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background-color: #F5DA81;
}

#center {
	position: absolute;
	text-align : center;
	top: 50%;
	left: 50%;
	width: 600px;
	height: 200px;
	overflow: hidden;
	background-color: #F5DA81;
	margin-top: -100px;
	margin-left: -300px;
}