@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

#layer1 {
	position: absolute;
	padding: 5px;
	filter: alpha(opacity = 50);
	width: 200px;
	height: auto;
	background-color: white;
	border: 2px #000000 dotted;
	visibility: hidden;
}

body {
	font-family: 'Nanum Gothic', sans-serif;
}

.cau{
	color : red;
	font-size : 9pt;
}

table,tr,td, th{
  border-collapse : collapse;
  padding-left:5px;
  padding-right:5px;
}

